@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

:root {
  --green: #135d66;
  --dark-color: #003c43;
  --black: #444;
  --light-color: #666;
  --border: 0.1rem solid rgba(0, 0, 0, 0.1);
  --border-hover: 0.1rem solid var(--black);
  box-shadow: 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all.2s linear;
  transition: width none;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-container.active {
  display: none;
}

.loader-container img {
  height: 50rem;
}

.header {
  background-color: var(--green);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.header-1 {
  margin-left: 30px;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  margin-right: auto;
}

.navbar {
  background-color: var(--green);
  color: #fff;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  padding: 10px;
}

.navbar a:hover {
  background-color: var(--dark-color);
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #f4f4f4;
}

.cart .content h3 {
  text-align: center;
}

.content h3 {
  font-size: 2rem;
  color: var(--dark-color);
}

.cart-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.cart-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: var(--border);
  border-radius: 5px;
  padding: 1rem;
  width: 80%; /* adjust width as needed */
  height: 100%;
  box-shadow: var(--box-shadow);
}

.cart-item img {
  width: 230px;
  height: 270px;
  object-fit: cover;
  margin-right: 1rem;
}

.item-details {
  flex-grow: 1;
  margin-left: 1rem;
}

.item-details h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: var(--dark-color);
}

.item-details p {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--light-color);
}

.remove-btn {
  background-color: #f00;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-left: auto;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: var(--border);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 1rem;
  width: 600px;
}


.checkout-btn {
  background-color: var(--green);
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: var(--light-color);
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
